[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/iamsaikrishna
[access "refs/for/refs/*"]
	read = group user/iamsaikrishna
	push = group user/iamsaikrishna
	label-Code-Review = -2..+2 group user/iamsaikrishna
	label-Verified = -1..+1 group user/iamsaikrishna
	rebase = group user/iamsaikrishna
	removeReviewer = group user/iamsaikrishna
	submit = group user/iamsaikrishna
[access "refs/heads/*"]
	read = group user/iamsaikrishna
	create = group user/iamsaikrishna
	push = +force group user/iamsaikrishna
	pushMerge = group user/iamsaikrishna
[access "refs/tags/*"]
	push = +force group user/iamsaikrishna
	pushTag = group user/iamsaikrishna
	pushSignedTag = group user/iamsaikrishna
